.prod-pic-rec-lg {
    height: 150px;
    width: 150px;
    margin-bottom: 25px;
    background-position: center;
    background-size: cover
}
.halfway {
    width: 50%;
    font-size: 18px;
    line-height: 22px;
}
.carousel-area {
    display: flex;
}
.also-bought-body {
    margin-left: 20px;
    margin-right: 20px;
}
.carousel-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-width: 1000px;
}
.carousel-titlea {
   display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-width: 650px; 
}
.little-righty {
    font-size: 13px;
    font-weight: 100;
    width: 13%
}
.also-bought-car {
    border-top: lightgray;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 1px;
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}
.also-bought-car1 {
    border-top: lightgray;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 1px;
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 700px;
}
.also-bought-car-main {
    display: flex;
    justify-content: space-between;
}
.button-arrow {
    margin: auto 0;
    height: 100%;
    width: 50px;
}
.arrowwrapper {
    font-size: 30px;
    padding-top: 9px;
    border: grey;
    border-radius: 5px;
    height: 50px;
    width: 40px;
    background-color: #f1f2f5;
    border-width: 1px;
    border-style: solid;
    text-align: center
}
@media (max-width: 1400px) {
    .disappear {
        display: none;
    }
}
@media (max-width: 1250px) {
    .disappear2 {
        display: none;
    }
}
.starsstars {
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    /*-webkit-background-size: 400px 670px;*/
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: -175px -368px;
    width: 80px;
    height: 18px;
}
.fourandhalfstars {
    
}