.prod-pic-rec-lg {
    height: 150px;
    width: 150px;
    margin-bottom: 25px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51FFTKXFpRL._SS100_.jpg);
    background-position: center;
    background-size: cover
}
.halfway {
    width: 50%;
    font-size: 18px;
    line-height: 22px;
}
.carousel-area {
    display: flex;
}
.also-bought-body {
    margin-left: 20px;
    margin-right: 20px;
}
.carousel-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.little-righty {
    font-size: 13px;
    font-weight: 100;
}
.also-bought-car {
    border-top: lightgray;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 1px;
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 1000px;
}
.also-bought-car1 {
    border-top: lightgray;
    border-left: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 1px;
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 700px;
}
.also-bought-car-main {
    display: flex;
    justify-content: space-between;
}
.button-arrow {
    margin: auto 0;
    height: 100%;
    width: 50px;
}
.arrowwrapper {
    font-size: 30px;
    padding-top: 9px;
    border: grey;
    border-radius: 5px;
    height: 50px;
    width: 40px;
    background-color: #f1f2f5;
    border-width: 1px;
    border-style: solid;
    text-align: center
}
@media (max-width: 800px) {
    .also-bought-7 {
        display: none;
    }
    .also-bought-5 {
        display: none;
        width: 0px;
        height: 0px;
    }
}