.sideNav{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 20px 0 0 10px;
}

.categoryNameContainer{
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.categoryTitle{
    font-size: 17px;
    font-weight: 400;

    color: #999999;
}

.categoryNameContainer{
    margin: 0 5px 0 5px;
    border-bottom: 1px solid #DDDDDD;
}

.categoryName{
    font-size: 14px;
    margin: 6px 0 6px 0;
}

.subCategoryFiltersContainer{
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}