.dmenu{
    z-index: 9;
    background-color: grey;
    opacity: .6;
    position: absolute;
    width: 100%;
    top: 13vh;
    height: 300vh;
    /*margin-top: 2.5vh;*/
    margin-left: -2vw;


}
.menu1{
      position: absolute;
    height: 70vh;
    width: 250px;

    background-color: white;
       margin-top: 1vh;
    margin-left: 1.5vw;
    z-index: 100;
    border-radius: 3px;
    padding-left: 3px;
    padding-top: 20px;
    padding-bottom: 16px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: left;
}
.menu1 h1{
color: #333333 !important;
font-size: 13px !important;
}
.dmenuBorder{
    border-bottom: 1px solid lightgray;
    width: 90%;
    padding-bottom: 10px;
}

.hov:hover .video{
    margin-left: 0;
}