.navLeft{
    display: flex;
    margin-bottom: 10px;
    margin-top: 25px;
    width: 50vw;
    align-content: space-around;
    margin-left: 24px;
}

.navLeft-Dep h1{
    color: white !important;
    margin-right: 5px;
    float: left;
    font-size: 15px !important;
}
.navLeft h1{
    color: #ccc;
    font-size: 13px;
    margin-left: 20px;
    
}
.navArrow{
    background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized._CB281044790_.png');
    background-position: 0 1000px;
    background-repeat: repeat-x;
        border-top-color: #a7acb2;
        /*visibility: visible;*/
            display: inline-block;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;

}
.depBtn{
    background-color: transparent;
    border: none;
}
.left-text{
    display: flex;

    margin-top: 8px;
}
.depBtn .depMenu{
  
    display: none;
  
}

/*button.depBtn:hover .depMenu{
    display: block;
}*/

.depBtn:hover .depMenu {
    display: block;
}
