.navLeft{
    display: flex;
    /*margin-bottom: 10px;*/
    margin-top: 25px;

    align-content: space-around;
    margin-left: 24px;
}

.navLeft-Dep h2{
    color: white;
    margin-right: 5px;
    float: left;
    font-size: 15px !important;
}
.depBtn h2 {
    font-size: 14px;
    color: white
}
.navLeft h1{
    color: #ccc;
    font-size: 13px;
    margin-left: 20px;
    
}
.navArrow{
    background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized._CB281044790_.png');
    background-position: 0 1000px;
    background-repeat: repeat-x;
    border-top-color: #a7acb2;
    display: inline-block;
    border-style: solid;
    border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;
}
.depBtn{
    background-color: transparent;
    border: none;
}
.left-text{
    display: flex;
    margin-top: 4px;
}
.depMenu{
    display: none;
}
/*.depBtn:hover .depMenu {
    display: block;
}*/
.depBtn h1 {
    padding-bottom: 10px;
}
@media (max-width: 1125px){
    .h1a {
        display: none;
    }
}
@media (max-width: 1075px){
    .h1b {
        display: none;
    }
}
@media (max-width: 1025px){
    .h1c {
        display: none;
    }
}