.home-main-advertisement {
  height: 300px;
  width: 100vw;
  min-width: 1000px;
  max-width: 1500px;
  margin: 0 auto;
  background: url(/images/homeimages/carousel-echo.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}