.home-segments {
  display: flex;
  width: 98vw;
  height: 550px;
  min-width: 1000px;
  max-width: 1500px;
  margin: 15px auto;
}
.home-main-everything {
  font-family: arial;
  font-weight: 100;
}
.home-main-everything a{
  color: blue;
  text-decoration: none;
  font-size: 13px;
}
.home-main-everything p {
  font-size: 13px;
}
.home-main-everything a:hover {
  text-decoration: underline;
}
.home-main-everything h1, .home-main-everything h2, .home-main-everything h3,.home-main-everything h4,.home-main-everything h5,.home-main-everything h6 {
  font-weight: 100
}
.homeAfterSignIn{
  height: 75px;
  width: 100%;
  background-color: #232F3E;
  display: flex;
  min-width: 1000px;
}
.initials{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #DDD277;
  color: white;
  text-align: center;
  padding-top: 12px;
  font-size: 25px;
  margin: auto 0px;
  font-weight:200;
  margin-left: 30px;
}
.home-hi{
  color: white;
  margin: auto 0px;
  margin-left: 3%;
  font-size: 15px;
  font-family: arial;
  font-weight: 800;
  
}
.home-orders{
  /*display: flex;*/
  border-left: .5px solid lightgray;
  height: 50px;
  margin: auto 0px;
  padding-left: 20px;
  margin-left: 5%;
}
.your-orders{
  margin-top: 10px;
  color: #CCCCCC;
  font-size: 13px;
}
.recent-orders{
  color: white;
  font-size: 16px;
  margin-top: 5px;
}
.home-prime{
  /*display: flex;*/
  /*border-left: .5px solid lightgray;*/
  height: 50px;
  margin: auto 0px;
  padding-left: 20px;
  margin-left: 5%;
}