.home-segments {
  display: flex;
  width: 98vw;
  height: 550px;
  min-width: 1000px;
  max-width: 1500px;
  margin: 15px auto;
}
.home-main-everything {
  font-family: arial;
  font-weight: 100;
}
.home-main-everything a{
  color: blue;
}
.home-main-everything h1, .home-main-everything h2, .home-main-everything h3,.home-main-everything h4,.home-main-everything h5,.home-main-everything h6 {
  font-weight: 100
}