.the-dress-shop-main-container {
  display:flex;
  flex-direction: column;
  width: 22.448%;
  height: 500px;
  background: #f6f6f5;
  padding: 15px;
  position: relative;
  margin-left: 15px;
}
.the-dress-shop-main-container h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.dress-shop-video {
  /*size: contain;*/
  position:relative;
  background:#f6f6f5;
}
.dress-shop-vid-cont {
  left: 0px; 
  top: 0px; 
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  size: contain;
  max-height: 385px;
  display: block;
}
.dress-shop-vid-cont1 {
  left: -18px; 
  top: 0px; 
  /*overflow: hidden; */
  height: 100%; 
  width: 100%;
  /*size: cover;*/
  max-height: 500px;
  display: none;
  position: absolute;
  z-index: 5
}
.dress-shop-base-link {
  position: absolute;
  bottom: 10px;
  width: 90%
}
.leftcover-home {
  position: absolute;
  background:#f6f6f5;
  height: 100%;
  width:27%;
  left: 0px;
  top: 0px
}
.rightcover-home {
  position: absolute;
  background:#f6f6f5;
  height: 110%;
  width:27%;
  right: 0px;
  top: 0px;
  z-index: 6;
}
