.the-dress-shop-main-container {
  display:flex;
  flex-direction: column;
  width: 23.448%;
  height: 500px;
  background: #f6f6f5;
}
.the-dress-shop-main-container h3 {
  font-size: 20px;
  margin: 15px;
}
.dress-shop-video {
  size: contain;
  /*background:#f6f6f5;*/
}
.dress-shop-vid-cont {
  left: 0px; 
  top: 0px; 
  overflow: hidden; 
  height: 100%; 
  width: 100%;
  size: contain;
}
.dress-shop-base-link {
  height: 50px;
  line-height: 4px;
}
.dress-shop-base-link2 {
  margin-top: -50px;
}