.upper-right-ad-home {
  background-image: url(/images/homeimages/fakeadd.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}