.ProdDetailsBody {
    display: flex;

}

.prodPhotos {
    width: 42px;
    height: 42px;
    /*background-color: red;*/
    margin-top: 14px;
}
.mainPhoto{
    width: 27vw;
    /*background-color: red;*/
    /*when photo is inserted, height will be 100%*/
    /*height: 31vh;*/
    /*height: 100%;*/
    
}
.blueATag{
    color: #0066C0;
    font-size: 13px;
    font-family: arial;
}

.prodTitle {
    font-size: 21px;
    line-height: 27px;
    margin-top: 10px;
    font-weight: 100;
}
.reviews{
    display: flex;
    margin-top: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

.stars{
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;  
    background-position: -175px -368px;
    width: 80px;
    height: 18px;
}
.starMain{
    display: flex;
    
    margin-right: 30px;
}
.marg{
    margin-left: 15px;
    margin-right: 30px;
}
.priceRed{
    color: #B12704;
    font-size: 22px;
}
.starArrow{
        background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
 
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
}
.otherSellers {
    margin-top: 15px;
    color: #555555;
    font-size: 13px;
    margin-bottom: 15px;
    font-weight: 100;
    margin-right: 5px;
}
.sizeGrey{
    color: #8891B6;
    margin-right: 5px;

}
.sizeBlack{
    color: black;
    float: right;
}
.flexOnly{
    display: flex;
}

.sizeBoxParent{
    display: flex;
    margin-top: 10px;
}
.sizeBoxChild{
margin-right: 15px;
width: 91px;
height: 52px;
border: 1px lightgray solid;
text-align: center;
padding-top: 10px;
/*padding: auto;*/
}
.boxPrice{
    color: #b12704;
    margin-top: 6px;
    font-size: 14px;
}
.bullets{
    padding-left: 16px;
    margin-bottom: 16px;
    font-family: arial;
}
.bullet li{
    color: grey;
}
.messageIcon{
    background-position: -42px 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAYAAABx290PAAAA20lEQ…QLQeBiLAP3sUi27aRbCAIN/5lEi4/OJ1Xb/wYGplPJohj6AGLXLKmrpibWAAAAAElFTkSuQmCC);
    display: inline-block;
    position: relative;
    width: 13px;
    top: 1px;
    height: 11px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 22px;
    margin-bottom: 11px;
}
.socialMedia h2{
    color: #0066c0;
    font-family: arial;
    font-size: 13px;
    font-weight: 100;
    margin-top: 5px;
    
}

.lineSpace{
    margin-top: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.pack{
    font-size: 13px;
}

.socEmail{
        width: 19px;
    height: 17px;
    background-position: -99px -168px;
    position: relative;
    top: 1px;
        background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    /*-webkit-background-size: 400px 670px;*/
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    font-family: arial;
    
}
.socFac{
    width: 17px;
    height: 17px;
    background-position: -36px -168px;
    position: relative;
    top: 1px;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    /*-webkit-background-size: 400px 670px;*/
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;

}
.socTwit{
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    -webkit-background-size: 400px 670px;
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
        width: 18px;
    height: 17px;
    background-position: -57px -168px;
    position: relative;
    top: 1px;
}
.socPin{
width: 17px;
height: 17px;
background-position: -78px -168px;
position: relative;
top: 1px;
background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
background-size: 400px 670px;
background-repeat: no-repeat;
display: inline-block;
vertical-align: top;
}

.qDropdown{
    width: 38px;
    height: 23px;
    background-color: #F8F8F8;
}

.cartIcon{
height: 25px;
    width: 25px;
    background-position: -35px -5px;
        background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    -webkit-background-size: 400px 670px;
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;

}

.addCartBtn{
    width: 180px;
    height: 35px;
    background-color: #F4D484;
    display: flex;
   text-align: center;
     font-size: 13px;
margin-top: 15px;
    
}

.addCartBox{
    border: 1px solid lightgray;
     padding: 20px
}

.cartText {
    color: black;
    margin-left: 15px;
    margin-top: 3px;
}
.addToList{
    border: 1px solid lightgray;
    background-color: #E9EBEE;
    width: 170px;
    height: 40px;
    font-size: 13px;
    padding-top: 11px;
    padding-left: 10px;
    /*text-align: center;*/

}

.sellOnAmazon{
    width: 90px;
    height: 23px;
    background-color: #E9EBEE;
    border: 1px solid lightgray;
    font-size: 11px;
    margin-top: 3px;
    padding-top: 5px;
    padding-left: 3px;
    margin-bottom: 50px;
    
}
.pad {
    margin-top: 25px;
    
}

/*prod details widths*/

.leftPhotosMain{
    width: 6vw;
    padding-left: 10px;
}
.mainPhoto{
    width: 27vw;
    margin-top: 70px;
}
.prodInfoMain{
    width: 48vw;
    padding-left: 30px;
    padding-top: 20px;
    font-family: arial;
    
}


.prodMiscMain{
    width: 17vw;
   ;
}

ul li {
  color: #3c3c3c; 
  /* set color of list item text */
  /*list-style: none; */
}

ul li::before {
  color: gray; 
 
}
.listBullet{
    font-size: 13px;
    line-height: 24px;
}
.fonts {
    font-family: arial;
    font-weight: 100;
}

.check h2{
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 18px;
}
.ship{
    font-weight: 400 !important;
}
.sell{
    font-size: 11px;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
/*.oneClick{
    font-size
}*/