.footer-item-content {
    width: 126px;
    height: 34px;
    padding: 0 .75em;
    margin-bottom: 15px;
    cursor: pointer;
}
.footer-item-content:hover {
    text-decoration: underline;
    text-decoration-color: silver;
}

.footer-item-content h1 {
    color: lightgray;
    font-size: 11px;
    margin-bottom: 2px;
}

.footer-item-content p {
    color: darkgray;
    font-size: 10px;
    
}