
.tryPrimeMen{
   
    position: absolute;
    right: 1.5vw;
    z-index: 10;
    top: 10.5vh;
    /*margin-top: 15vh;*/
    border-radius: 3px;
    background-size: cover;

    width: 340px;
    height: 485px;
    background: url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/merch/gateway/PIN/AVD-3523-PIN_flyout_340x540._CB520888926_.jpg');
    display: inline-block;
    text-align: center;
    margin: 12px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 10px solid white;
    
}

.pin-header{
    color: white;
    margin-top: 10vh;
    font-size: 22px;
    margin-left: 3vw;
    margin-right: 3vw;
    line-height: 20px;

}
.cta-button{
    background-color: #F49511;
    color: white;
    margin: 0 auto;
    margin-top: 5px;
    width: 180px;
    height: 35px;
    padding-top: 11px;
    font-size: 18px;
}
.primeOverlay{
    z-index: -100;
    background-color: grey;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 2000px;
   top: 0px;
   margin-top: 13vh;
   left: 0;
    position: absolute;
    margin-right: -10px;


}